.auth-card {
    width: 40%;
    min-width: 400px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    gap: 20px;
    padding-inline: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.auth-form {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-card-title {
    font-size: 2rem;
    font-weight: 600;
}

.auth-form-input {
    width: 100%;
    font-size: 1rem;
}   

.auth-form-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
}

.auth-link-container {
  display: flex;
  justify-content: center;
  margin-top: -8px;
  margin-bottom: 16px;
}

.auth-link {
  color: #1976d2;
  text-decoration: none;
  font-size: 0.9rem;
  
  &:hover {
    text-decoration: underline;
  }
}